<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Roulette.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<body class=" bg-black text-white p-4 pb-5">

    <main class="container mb-5">
        @RenderBody()

        @RenderSection("scripts", required: false) <!-- Добавлено для рендеринга скриптов -->

        
    </main>
    <div class="fixed-bottom bg-dark p-2 border-top border-secondary">
        <div class="d-flex justify-content-around">
            <a href="@Url.Action("Index", "Home")" class="d-flex flex-column align-items-center text-white text-decoration-none">
                <span>🌾</span>
                <small>Поле</small>
            </a>
            <a href="@Url.Action("Auctions", "Home")" class="d-flex flex-column align-items-center text-white text-decoration-none">
                <span>🏆</span>
                <small>Аукционы</small>
            </a>
            <a href="@Url.Action("Market", "Home")" class="d-flex flex-column align-items-center text-white text-decoration-none">
                <span>📈</span>
                <small>Рынок</small>
            </a>
            <a href="@Url.Action("Friends", "Home")" class="d-flex flex-column align-items-center text-white text-decoration-none">
                <span>👥</span>
                <small>Друзья</small>
            </a>
            <a href="@Url.Action("Profile", "Home")" class="d-flex flex-column align-items-center text-white text-decoration-none">
                <img src="~/icons/Waxws.png" alt="Waxw" width="24" height="24">
                <small>Waxw</small>
            </a>
        </div>
    </div>
</body>
</html>
