<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white p-4">

    <div class="container mx-auto">
        @RenderBody()  <!-- ОБЯЗАТЕЛЬНО ДОЛЖНО БЫТЬ! -->
    </div>

    <!-- Навигация -->
    <div class="fixed bottom-0 left-0 w-full bg-black p-4 flex justify-around border-t border-gray-700">
        <a href="@Url.Action("Index", "Home")" class="flex flex-col items-center text-gray-400">🌾<span class="text-sm">Поле</span></a>
        <a href="@Url.Action("Auctions", "Home")" class="flex flex-col items-center text-gray-400">🏆<span class="text-sm">Аукционы</span></a>
        <a href="@Url.Action("Market", "Home")" class="flex flex-col items-center text-gray-400">📈<span class="text-sm">Рынок</span></a>
        <a href="@Url.Action("Friends", "Home")" class="flex flex-col items-center text-gray-400">👥<span class="text-sm">Друзья</span></a>
        <a href="@Url.Action("Profile", "Home")" class="flex flex-col items-center text-gray-400">
            <img src="~/icons/Waxws.png" alt="Waxw" class="w-6 h-6">
            <span class="text-sm">Waxw</span>
        </a>


    </div>
    @RenderSection("scripts", required: false) <!-- Добавлено для рендеринга скриптов -->
</body>
</html>
