@model AppUser

<!-- Модальное окно рулетки-->
<div id="roulette-modal" class="fixed-top w-100 h-100 bg-black bg-opacity-50 d-none">
    <div class="bg-dark-custom m-5 p-4 rounded ">
        <div class="row text-center">
            <button type="button" class="btn-close btn-close-white position-relative start-0 invisible"></button>
            <h2  class="mb-4 col">
                <strong>
                    Твой приз!
                </strong>
            </h2>
            <!-- Кнопка закрытия -->
            <button type="button" id="closeRouletteButton" class="btn-close btn-close-white position-relative end-0 invisible" aria-label="Close" onclick="closeRouletteModal()"></button>
        </div>
        <!-- Рулетка -->
        <div class="app text-center">
            <div class="scopeHidden">
                <ul class="m-0 p-0">
                </ul>
            </div>
            <button id="btn" class="btn btn-primary mt-3" onclick="startRoulette()">Крутить</button>
        </div>

    </div>
</div>


<!-- Баланс -->
<div class="row bg-dark-custom rounded d-flex align-items-center">
    <div class="col-3 p-3">
        <img class="img-fluid rounded" src="@Model.PhotoUrl" />
    </div>
    <div class="col-9 p-1">
        <p class="m-0 text-gray">Баланс</p>
        <p class="m-0 text-white">
            <strong>
                @Model.Waxws Waxws
            </strong>
        </p>
    </div>
</div>

<!-- Мои игровые элементы -->
<div class="row bg-dark-custom rounded d-flex align-items-center mt-3">
    <h2 class="mt-3 header-white text-center">
        <strong>
            Мои игровые элементы
        </strong>
    </h2>

    <!-- Поля -->
    <div class="mt-2 mb-2">
        <p class="mb-0 text-white">
            <strong>
                Поля
            </strong>
        </p>
        <p class="text-gray">Всего: @Model.Fields | Засеяно: @Model.SownFields</p>
        <button class="btn btn-success w-100 text-white" id="plant-button">
            Засеять поля
        </button>
    </div>

    <!-- Зерно -->
    <div class="mt-2 mb-2">
        <p class="mb-0">
            <strong>
                Зерно
            </strong>
        </p>
        <p class="text-gray mb-0">
            Обычное: @Model.Grain | Редкое: @Model.RareGrain
        </p>
        <p class="text-gray mb-0">
            Максимум: @ViewData["MaxGrain"]
        </p>
    </div>

    <!-- Вода -->
    <div class="mt-2 mb-2">
        <p class="mb-0"><strong>Вода</strong></p>
        <p class="text-gray mb-0">Вода: @Model.Water</p>
    </div>

    <!-- Постройки -->
    <div class="mt-2 mb-3">
        <p class="mb-0"><strong>Постройки</strong></p>
        <p class="text-gray mb-0">Амбар: @Model.BarnLevel уровень</p>
        <p class="text-gray mb-0">Водонапорная башня: @Model.WaterTowerLevel уровень</p>
    </div>
</div>

<!-- Сезон -->
<div class="row bg-dark-custom rounded mt-3 text-center">
    <h3 class="mt-3 mb-0 header-white">Сезон Весна начался!</h3>
    <p class="text-gray">Новые события ждут вас!</p>
</div>

<!-- Играть -->
<div class="row mt-3 align-middle">
    <div class="col-8 p-0 pe-2">
        <button id="play-button1" class="btn btn-primary w-100 pt-3'
            @(Model.IsGameAvailable ? "" : "disabled")">
        
            <p class="mb-0 text-white "><strong>Играть</strong></p>
            <p class="text-white ">Попытки: @(Model.IsGameAvailable ? "1" : "0")/1</p>
        </button>
    </div>
    <div class="col-4 p-0">
        <button id="play-button2" class=" btn btn-secondary w-100 pt-3
                @(Model.IsAdditionalGameAvailable ? "" : "disabled")">           
        
            
            <p class="mb-0 text-white"><strong>Доп. попытка</strong></p>
            <p class="text-white ">Попытки:@(Model.IsAdditionalGameAvailable ? "1" : "0")/1</p>
        </button>
    </div>

</div>


<!-- Модальное окно выбора культуры -->
<div id="plant-modal" class="fixed-top w-100 h-100 bg-black bg-opacity-50 d-none">
    <div class="bg-dark-custom m-5 p-4 rounded ">        
        <div class="row">
            <h2 class="mb-4 col-11">
                <strong>
                    Выбор культуры
                </strong>
            </h2>
            <!-- Кнопка закрытия -->
            <button type="button" class="btn-close btn-close-white col-1" aria-label="Close" onclick="closePlantModal()"></button>
        </div>

        <div class="container">
            <div class="rounded-lg flex justify-between items-center">
                <div class="bg-success rounded p-2 row align-items-center">
                    <div class="col-8 mt-2">
                        <p class="mb-0 text-white "><strong>Пшеница</strong></p>
                        <p class="text-white mb-0">созревает </p>
                        <p class="text-white">Событие: засуха</p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <p class="mb-0 col header-white">"289"</p>
                            <button class="p-0 me-1 col btn btn-primary rounded-circle" onclick="openSeedModal()">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- пустое -->
            <div class="mt-3 rounded-lg flex justify-between items-center">
                <div class="bg-secondary rounded p-2 row align-items-center">
                    <div class="col-8 mt-2">
                        <p class="mb-0 text-white "><strong>Пшеница</strong></p>
                        <p class="text-white mb-0">созревает </p>
                        <p class="text-white">Событие: засуха</p>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <p class="mb-0 col header-white">100</p>
                            <button class="p-0 me-1 ms-3 col btn btn-primary rounded-circle" onclick="openSeedModal()">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="bg-warning rounded mt-3 p-2 w-100 " id="Auctions">Расширить поля на аукцион</button>
    </div>
</div>

<!-- Всплывающее окно выбора количества зерна -->
<div id="seed-modal" class="p-5 fixed-top w-100 h-100 bg-black bg-opacity-50 d-none">
    <div class="bg-dark-custom m-5 p-4 rounded">
        <h2 class="header-white mb-4">
            <strong>Выбор количества зерна</strong>
        </h2>
        <p class="text-white mb-0">Полей: </p>
        <p class="text-white">Зерно у вас: <span idw="seed-count">@Model.Grain</span></p>
        @{
            var minGrainForFields = uint.Min(Model.Fields - Model.SownFields, Model.Grain / Convert.ToUInt32(ViewData["grainPerField"]));
        }
        <form asp-action="SowFields" method="post">
            <input type="range" name="fieldsCount" id="seed-slider" min="0" max="@minGrainForFields" value="0" class="w-100 mt-2">
            <p class="header-white text-center mt-2" id="selected-seed">0</p>
            <button type="submit" class="btn btn-success w-100 text-white" onclick="closeSeedModal()">OK</button>
        </form>
        
    </div>
</div>

        @section scripts{
            <script src="~/js/index.js"></script>
            <script src="~/js/roulette.js"></script>
        }